.sortItem {
    position: relative;
}

.sortItem:hover {
    padding-left: 10px !important;
}

.menuIcon {
    position: absolute;
    left: -10px;
    color: #a1a0a0;
    /* display: none !important; */
}

.content:hover > .menuIcon {
    display: inline !important;
}

.content {
    position: relative;
}