@keyframes infinite-rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.rotate {
    animation: infinite-rotation 1s linear infinite;
}